@model Watchtogether.Model.Models.Group

<h2>Create your own group</h2>
<p>Here, you can create your own group with your very own preferences and such!</p>

<form asp-controller="Group" asp-action="Create" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputName">Group name</label>
            <input type="text" class="form-control" id="inputName" placeholder="Group name" asp-for="Name">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputDescription">Group description</label>
            <input type="text" class="form-control" id="inputDescription" placeholder="Group description" asp-for="Description">
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Create group</button>
</form>