@using Watchtogether.Model.Models
<h2>Your groups</h2>
<div class="card-group">
    @foreach (Group group in ViewBag.Groups)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@group.Name</h5>
                <p class="card-text">@group.Description</p>
                <a class="btn btn-primary" asp-controller="Group" asp-action="OpenGroup" asp-route-id="@group.Id">View group</a>
            </div>
        </div>
    }
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Create new group</h5>
            <p class="card-text">Create a new group with your own personal details and friends!</p>
            <a class="btn btn-primary" asp-controller="Group" asp-action="Create">Create group</a>
        </div>
    </div>
</div>