@model Watchtogether.ViewModels.GroupViewModel

<div>
    <div class="row">
        <div class="col col-12 col-md-6 col-lg-12">
            <h2>@Model.Group.Name</h2>
            <p>@Model.Group.Description</p>
        </div>
        <div class="col col-12 col-md-6 col-lg-12">
            <div id="error_message" class="alert alert-danger" role="alert" style="display: none;">
                <span></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-12 col-md-6 col-lg-4 mb-4">
            <h4>Users in this group</h4>
            <ul id="users" class="list-group">
                @foreach (var user in @Model.Users)
                {
                    <li id="users_@user.Username" class="list-group-item">@user.Username</li>
                }
            </ul>
        </div>
        <div class="col d-none col-md-6 col-lg-6"></div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="col col-12">
                    <h4>Add user to group:</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search by username" aria-label="Username" aria-describedby="basic-addon1" onkeydown="addUser(event)">
                    </div>
                </div>

                <div class="col col-12">
                    <h4>Remove users from this group:</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search by username" aria-label="Username" aria-describedby="basic-addon1" onkeydown="removeUser(event)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function addUser(event) {
        if (event.keyCode === 13) {
            sendAddUserRequest(event.srcElement.value,
                function(username, data) {
                    if (data === "User was added") {
                        $("#users").append(`<li id="users_${username}" class="list-group-item">${username}</li>`);
                        event.srcElement.value = "";
                        hideError();
                    } else {
                        showError(data);
                    }

                });
        }
    }

    function sendAddUserRequest(username, callback) {
        $.post(`/groups/${@Model.Group.Id}/add/${username}`,
            function(data) {
                callback(username, data);
            });
    }

    function removeUser(event) {
        if (event.keyCode === 13) {
            sendRemoveUserRequest(event.srcElement.value,
                function(username, data) {
                    if (data === "User was removed") {
                        $(`#users_${username}`).remove();
                        event.srcElement.value = "";
                        hideError();
                    } else {
                        showError(data);
                    }
                });
        }
    }

    function sendRemoveUserRequest(username, callback) {
        $.post(`/groups/${@Model.Group.Id}/remove/${username}`,
            function(data) {
                callback(username, data);
            });
    }


    function showError(error) {
        $("#error_message").show();
        $("#error_message span").text(error);
    }

    function hideError() {
        $("#error_message").hide();
    }

</script>