@model Watchtogether.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "Your profile";
}
@* <h2>Your account</h2> *@
@* <p>If you want to edit your account settings, please go <a asp-controller="Account" asp-action="Settings">here</a></p> *@
<h3>Your rooms</h3>
<div class="rooms my-4">
    <div class="card-group">
        @foreach (var room in @Model.Rooms)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@room.Name</h5>
                    <p class="card-text">@room.Description</p>
                    <a class="btn btn-primary" asp-controller="Room" asp-action="OpenRoom" asp-route-id="@room.Id">Visit room</a>
                </div>
                <div class="card-footer text-muted">
                    Currently 0 viewers
                </div>
            </div>
        }
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Create new room</h5>
                <a asp-controller="Room" asp-action="Create" class="btn btn-primary">Create room</a>
            </div>
        </div>
    </div>
</div>

<h3>Your groups</h3>
<div class="groups my-4">
    <div class="card-group">
        @foreach (var group in @Model.Groups)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@group.Name</h5>
                    <p class="card-text">@group.Description</p>
                    <a class="btn btn-primary" asp-controller="Group" asp-action="OpenGroup" asp-route-id="@group.Id">Visit group</a>
                </div>
            </div>
        }
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Create new group</h5>
                <a asp-controller="Group" asp-action="Create" class="btn btn-primary">Create group</a>
            </div>
        </div>
    </div>
</div>