@model Watchtogether.Model.Models.User

@{
    ViewBag.Title = "Your profile";
}

<h2>Account settings</h2>

<div class="row">
    <div class="col-4">
        <div class="list-group" role="tablist">
            <a class="list-group-item list-group-item-action" asp-controller="Account" asp-action="UpdateEmail">Update account email</a>
            <a class="list-group-item list-group-item-action" asp-controller="Account" asp-action="UpdatePassword">Update account password</a>
        </div>
    </div>
</div>