@* @{ *@
@*     ViewBag.Title = "Update email"; *@
@* } *@
@* *@
@* <h2>Update email</h2> *@
@* <form asp-controller="Account" asp-action="UpdateEmail" method="post"> *@
@*     <div class="form-group"> *@
@*         <label for="inputOldEmail">Old Email</label> *@
@*         <input type="email" class="form-control" id="inputOldEmail" placeholder="Current Email" asp-for="OldEmail" required> *@
@*     </div> *@
@*     <div class="form-group"> *@
@*         <label for="inputNewEmail">New Email</label> *@
@*         <input type="email" class="form-control" id="inputNewEmail" placeholder="New Email" asp-for="NewEmail" required> *@
@*     </div> *@
@* *@
@*     <button type="submit" class="btn btn-primary">Change email</button> *@
@* </form> *@