@model Watchtogether.Model.Models.Room

<h2>Create room</h2>
<p>Create here your room with the preferred details</p>

<form asp-controller="Room" asp-action="CreateRoom" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputName">Room name</label>
            <input type="text" class="form-control" id="inputName" placeholder="Room name" asp-for="Name">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputDescription">Room description</label>
            <input type="text" class="form-control" id="inputDescription" placeholder="Room name" asp-for="Description">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="inputPublic" asp-for="Public">
                <label class="form-check-label" for="inputPublic">Public</label>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Create Room</button>
</form>