@model Watchtogether.Model.Models.Room

<h2>Edit @Model.Name</h2>
<form asp-controller="Room" asp-action="EditRoom" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputName">Room name</label>
            <input type="text" class="form-control" id="inputName" placeholder="Room name" asp-for="Name" value="@Model.Name">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputDescription">Room description</label>
            <input type="text" class="form-control" id="inputDescription" placeholder="Room name" asp-for="Description" value="@Model.Description">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="inputPublic" asp-for="Public" checked="@Model.Public">
                <label class="form-check-label" for="inputPublic">Public</label>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Edit Room</button>
</form>