﻿@using Watchtogether.Model.Models
@model Watchtogether.ViewModels.RoomsViewModel
<h2>Rooms you can join</h2>
<div class="card-group">
    @foreach (Room room in @Model.Rooms)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@room.Name</h5>
                <p class="card-text">@room.Description</p>
                <a class="btn btn-primary" asp-controller="Room" asp-action="OpenRoom" asp-route-id="@room.Id">View group</a>
            </div>
        </div>
    }
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Create new room</h5>
            <p class="card-text">Create here a new room</p>
            <a class="btn btn-primary" asp-controller="Room" asp-action="Create">Create group</a>
        </div>
    </div>
</div>