﻿@using Watchtogether.Model.Models
@model Watchtogether.ViewModels.RoomViewModel
@{
    Layout = "_Layout";
}
<h2>@Model.Room.Name</h2>
<div class="row">
    <div class="col col-md-8">
        <div id="player"></div>
        <p>@Model.Room.Description</p>
    </div>
    <div class="col col-md-4">
        <div class="form-group">
            <label for="inputVideo">Youtube URL</label>
            <input class="form-control" id="inputVideo" placeholder="YouTube video ID" maxlength="11" value="C1ObitoLwhM">
            <small class="form-text text-muted">The last 11 characters of a YouTube video</small>
        </div>

        <div>


            <div class="form-group">
                <label>Add new group</label>
                <select multiple class="form-control" id="addingGroup">
                    <option disabled="true">Select new group</option>
                    @foreach (var group in @Model.UserGroups)
                    {
                        <option id="group_@group.Id" value="@group.Id">@group.Name</option>
                    }
                </select>
            </div>
            <button type="button" id="addGroup" class="btn btn-primary mb-3">Add</button>

            <div class="form-group">
                <label>Add new group</label>
                <select multiple class="form-control" id="currentGroups">
                    @foreach (var group in @Model.CurrentGroups)
                    {
                        <option id="addedGroup_@group.Id" value="@group.Id">@group.Name</option>
                    }
                </select>
            </div>
            <button type="button" id="removeGroup" class="btn btn-primary">Remove</button>
        </div>
    </div>
</div>

<script>


    let pathname = window.location.pathname;
    let n = pathname.lastIndexOf('/');
    var roomId = pathname.substring(n + 1);

    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player',
            {
                height: '390',
                width: '640',
                host: 'https://www.youtube.com',
                videoId: 'M7lc1UVf-VE',
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });

        setInterval(function() {
                connection.invoke("SetVideoTime", roomId, player.getCurrentTime());
            },
            2000);
    }


    function setCurrentVideo(videoUrl, timestamp) {
        player.loadVideoById(videoUrl, 0, "large");
    }

    function onPlayerReady(event) {
    }

    let lastStatus = null;

    function onPlayerStateChange(event) {
        console.log(event);

        if (lastStatus !== event.data) {
            connection.invoke("SetVideoStatus", roomId, event.data);
        }
        lastStatus = event.data;
    }

    function stopVideo() {
        player.stopVideo();
    }
</script>
<script>
    $("#addGroup").click(function($event) {
        const selected = $("#addingGroup option:selected");
        addGroupToRoom(selected.text(),
            selected.val(),
            function(groupName, groupId, data) {
                if (data === "The group was added to the room") {
                    $(`#group_${groupId}`).remove();
                    $("#currentGroups")
                        .append(
                            `<option id="addedGroup_${groupId}" value="${groupId}">${groupName}</li>`);
                }
            });
    });

    function addGroupToRoom(groupName, groupId, callback) {
        $.post(`/rooms/${@Model.Room.Id}/group/add/${groupId}`,
            function(data) {
                callback(groupName, groupId, data);
            });
    }


    $("#removeGroup").click(function($event) {
        const selected = $("#currentGroups option:selected");
        removeGroupFromRoom(selected.text(),
            selected.val(),
            function(groupName, groupId, data) {
                if (data === "The group was removed from the room") {
                    $(`#addedGroup_${groupId}`).remove();
                    $("#addingGroup")
                        .append(
                            `<option id="group_${groupId}" value="${groupId}">${groupName}</li>`);
                }
            });
    });

    function removeGroupFromRoom(groupName, groupId, callback) {
        $.post(`/rooms/${@Model.Room.Id}/group/remove/${groupId}`,
            function(data) {
                callback(groupName, groupId, data);
            });
    }

    $("#inputVideo").keydown(function(event) {
        if (event.keyCode === 13) {
            console.log($(this));
            playVideo($(this).val());
        }
    });

</script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/socket.js"></script>