﻿@model Watchtogether.DTO.LoginDto
@{
    ViewData["Title"] = "Login";
}
<div>
    <div>
        <p>@ViewBag.ErrorMessage</p>
    </div>
    
    <form asp-controller="Auth" asp-action="Login" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" asp-for="Email" id="email" aria-describedby="emailHelp" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" asp-for="Password" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
