﻿@model Watchtogether.DTO.RegisterDto
@{
    ViewData["Title"] = "Register";
}
<form asp-controller="Auth" asp-action="Register" method="post">
    <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" asp-for="Email" id="email" placeholder="Email" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="Username" id="username" min="4" max="32" placeholder="Username" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" asp-for="Password" id="password" placeholder="Password" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="birthday" class="col-sm-2 col-form-label">Birthday</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" asp-for="Birthday" id="birthday" placeholder="Birthday" required>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>
</form>
<script>
    let fields = document.querySelectorAll(".form-group.row input");
    for (var i = 0; i < fields.length; i++) {
        fields[i].onchange = function(event) {
            const field = event.target;
            field.style.borderColor = !field.checkValidity() ? "red" : "#ced4da";
        };
    }
</script>